/*  overall section  */
body {
    text-align: center;
    margin: 0;
    background-color: lightyellow;
}

.content{
    width:80vw;
    max-width:960px;
    margin: 40px auto;
    margin-bottom: 0px;
}

.container{
    margin:40px auto;
    width:70vw;
    /* Set Max Content Width */
    max-width:700px;
}
img{
    max-width: 100%;
}

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: white;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
    color:black;
}

.img-right{
  float:right;
  border:1px solid #c0c0c0;
  padding:5px;
  margin: 10px 0 10px 20px;
}

.img-left{
  float:left;
  padding:5px;
  margin: 10px 20px 10px 0;
}

.img-center{
  display:block;
  margin:0px auto;
  padding:15px;
}

/*  header section  */
img {
    margin: 0;
    border: none;
}

header {
    background-color: #edece3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235f5a68' fill-opacity='0.4'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: relative;
}

header a{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    text-decoration-line:line-through;
}

nav ul li:hover{
    background-color:rgba(0,0,0,0.7);
}

h1{
    font-size: 2.5rem;
    padding:5px;
    padding-bottom:10px;
    margin: 0;
    border: none;
    color: white;
    text-shadow: 2px 2px 20px black;
}

nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin:0px auto;
    transition: .5s ease-in-out;
}

nav ul li{
    list-style-type: none;
    text-wrap: nowrap;
    transition: .5s ease-in-out;
    position: relative;
    font-size: 1.5rem;
    color: white;
    text-decoration:none;
    border: 1px solid #c0c0c0;
    padding: 7.5px 12.5px;
    background-color:rgba(0,0,0,0.5);
}

/*  main portion  */
main {
    margin: 0;
    background-color: lightyellow;
}

main h2 {
    margin-top:0;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 2rem;
}

main h3 {
    padding: 10px;
    font-size: 1.5rem;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid black;
}

main p {
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 16px;
    max-width: 80%;
    margin: 0 auto;
}

main table {
    margin: 0 auto;
}

main th {
    padding: 0 40px;
    font-size: 1.2rem;
    border-bottom: 1px solid black;
}

main td {
    text-align: left;
}

#wufoo-z1n7ma0l1kq5m9p {
    max-width: 80%;
    margin: auto;
}

#temp {
    padding-bottom: 24px;
    margin-bottom: 0px;
}

/*  footer section  */
footer {
    margin: 0;
    background-color: #c0c0b4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%2380778e' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    position:relative;
    bottom: 0;
}

footer h6{
    margin: 0;
    padding: 40px 0px;
    font-size: 0.8rem;
}